input .filepath-input {
    width: 500px;
}

div.loading-spinner {
    height: 60px;
}

div.loading-spinner-caption {
    align-content: center;
    text-align: center;
}
div.loading-spinner label {
   text-align: center;
}


div.filter-panel-body div.filter-control
{
    width: 100%;
}

div.filter-panel-body div.filter-control input.search-box {
    width: 90%;
}

table.selectionTable {
    width: 100%;
    table-layout: fixed;
}

table.selectionTable td.name {
    width: 50%;
}

table.selectionTable th.name {
    width: 50%;
}

table.selectionTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.selectionTable tr {
    cursor: pointer;
}

table.selectionTable tr.info td {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

div.pieContainer {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

div.sunContainer {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

div.graphContainer {
    align-content: center;
    width: 100%;
    margin: 0 auto;
}