[submodule "DEV_TOOLS"]
	path = DEV_TOOLS
	url = git@github.com:Grauniad/dev_tools.git
[submodule "TCL-CPP-Plugin-API"]
	path = TCL-CPP-Plugin-API
	url = https://github.com/Grauniad/TCL-CPP-Plugin-API.git
