# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DEV_TOOLS
.gdb_breakpoints
makefile.include
exports
test.full_log

# vim
.*.swp

# PROFILER
profile
cgv
gcgv
jsonGen
publisherSpeed
!Binaries/gcgv
callgrind.out.*
Tests/toy.out
Tests/toy.data
Tests/toy_cache.data

# Eclipse
.cproject
.project
.settings

#CEF
CEF_3.2

# Linked CEF resources
cef.pak
cef_100_percent.pak
cef_200_percent.pak
chrome-sandbox
devtools_resources.pak
icudtl.dat
locales


#Tests
FullLog_*
OverviewLog_*
